@model IEnumerable<What2Do.Data.CardDetails>


@{
    ViewBag.Title = "Index";
    
    
}

        <h2>Card Details</h2>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        @if (Model.Any())
        {
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CardNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SortCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ExpireMonth)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ExpireYear)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CardHolder)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SecurityCode)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CardNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SortCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpireMonth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpireYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CardHolder)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SecurityCode)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.DetailID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.DetailID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.DetailID })
                            @Html.ActionLink("Select", "PaymentWithCard", new { id = item.DetailID })
                        </td>
                    </tr>
                }

            </table>
        }
        @Html.ActionLink("Payment With PayPal", "PaymentsWithPayPal", "Paypal", new { @class = "btn btn-default" })
